---
layout: default
---
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
<script src="http://jabtunes.com/labs/boidsnbuildings/Director.js"></script>

<audio id="music">
  <source src="http://www.earslap.com/file_download/7/sound6.mp3">
</audio>

<div id="blackout" style="position:fixed;top:0;left:0;width:100%;height:100%;background:black;z-index:7"></div>

<style>
  #case-study-tti {
    position: relative;
    padding: 2.5em 0 0;
    background: url(/assets/patterns/orange_tris.svg) no-repeat #111;
    background-size: 200%;
    background-position: 0 60%;
  }

  #case-study-tti h2 {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
  }

  #case-study-tti .stages {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
  }

  #case-study-tti blockquote {
    border-color: rgba(255,255,255,0.3);
    border-width: 3px;
    font-style: italic;
    font-weight: 300;
    background: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.7);
    padding: 1em;
  }

  #case-study-tti blockquote footer {
    color: white;
    padding: 0.5em;
    opacity: 0.7;
  }

  #case-study-tti a:hover {
    text-decoration: none
  }

  .moar {
    display: block;
    background: rgba(255,255,255,0.3);
    padding: 1em;
    text-align: center;
    color: #111;
  }

  #content { top: 0; transition: top 0.5s; }
  #spacer { height: 68vh; transition: height 0.5s; }

  @media all and (max-height: 600px) {
    #spacer { height: 0;}
  }

  @media all and (min-height: 601px) {
    #case-study-tti .stages {
      padding-bottom: 2em;
    }
  }

  #content.out {
    top: -200px;
  }
  #spacer.out {
    height: 200vh;
  }
</style>


<div id="content" style="z-index: 10; position:relative;" class="out">
  <div style="background: #333">
    <div class="container">
      <div style="padding: 1em 0;text-align:center">
        <a href="/">
          <img src="/assets/logo_white.svg" alt="Trilane" class="logo" style="width:100px;"/>
        </a>
      </div>
    </div>
  </div>

  <div id="spacer" class="out">&nbsp;</div>


  <div id="case-study-tti">
    <div class="container">
      <a href="#moar" class="blandlink">
        <div class="row">
          <div class="col-md-6 stages">
            Vertrauen Sie nicht unseren Worten, sondern denen unserer Kunden.
          </div>
          <div class="col-md-2 col-md-offset-4">
            <span class="moar">Weiterlesen ↓</span>
          </div>
        </div>
      </a>

      <div id="moar" class="row" style="padding-bottom:2em">

        <div class="col-md-2 ">
          <img src="http://www.jemisonmetals.com/assets/Pete-Heinke3-5d92a7530113625f47bbd2e3e9b759d0.jpg" style="width:100%">
        </div>

        <div class="col-md-7">
          <blockquote>Das Team von Trilane steht nicht nur für exzellente Umsetzung, sondern darüber hinaus für kompetente
            und ehrliche Beratung. Uns ist klar: für eine Anwendung, mit der alle Seiten zufrieden sind,
            ist die von Trilane geleitete Planungsphase ebenso wichtig wie die Implementierung.
            <footer>Peter Heinke, Geschäftsführer der TTI GmbH</footer>
          </blockquote>
        </div>

      </div>

    </div>
  </div>

  <div class="container" style="padding-top:1em;line-height:180%">
    <div class="row">
      <div class="col-md-4">
        <h2>Das Projekt</h2>
        <p>Die TTI GmbH ist Technologiezentrum und Gründerwerkstatt unter einem Dach vereint. In enger Zusammenarbeit mit der Universität Stuttgart
          wird hier Absolventen und jungen Gründern das Rüstzeug für die erfolgreiche Firmengründung vermittelt.</p>
      </div>
      <div class="col-md-8">
        <img src="http://www.tti-stuttgart.de/wp-content/uploads/2013/11/tz_2009_031.jpg" width="100%">
      </div>
    </div>
  </div>
</div>

<script>
  {% include tti/_data.js %}
  {% include tti/scene.js %}
</script>
