<!DOCTYPE html>
<html>
  <head>
    <title>Trilane - Softwareentwicklung aus Karlsruhe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="description" content="Innovatives Softwareunternehmen mit Sitz in Karlsruhe. Wir entwickeln intuitive Software, auf die Sie sich verlassen können.">
    <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/Lato:200,200i,300,300i,400,400i,500,500i,700,700i:f">
    <link href='/assets/favicon.png' rel='shortcut icon' type='image/png'>
    <link href='/assets/favicon.png' rel='icon' type='image/png'>
  </head>
  <style>
    html { min-height: 100%; }
    body {
      font-family:"Lato";
      height: 100%;
      color: #111;
      background: url(/assets/patterns/white_tris.png) whiteSmoke;
    }

    a.blandlink {
      color: #111;
    }
  </style>
  <body>
    {{ content }}
  </body>
</html>
